<body>
    <h1>%%TITLE REPLACE</h1>
    <ul>
        <li><a href="/">Front page</a></li>
        <li> <a href="/intronotes">Intro notes</a></li>
        <li> <a href="/firstexpressserver">Express setup</a></li>
        <li> <a href="/wwexpress">Express and html</a></li>
        <li> <a href="/ssr">Server-side rendering</a></li>
        <li> <a href="/expressbackend">Express backend example</a></li>
        <li> <a href="/terminalcommands">Terminal commands</a></li>
        <li> <a href="/routertest">Router test</a></li>
    </ul>


